.plugin-table-tag-filters {
	display: flex;
	flex-direction: row;
	column-gap: 0.5em;
	flex-wrap: wrap;

	.active {
		font-weight: 700;
	}
}

// Plugin list:
#the-list {

	.column-tags {

		.active {
			font-weight: 700;
		}
	}
}

// Plugin install:
.plugin-install #the-list {
	gap: 16px 8px;

	.plugin-card {
		display: flex;
		flex-direction: column;
		margin: 0;

		.plugin-card-top {
			flex-grow: 1;
		}
	}

	&.filtered .plugin-card:not(.filtered__show) {
		display: none;
	}
}
